.navbar {
  background-color: transparent !important; }

body {
  background-color: seashell; }

.header__tituloPrincipal {
  color: #e342f5;
  font-family: "Amatic SC", cursive;
  font-size: 50px; }

nav {
  background-color: #F08080;
  width: 100%;
  margin-bottom: 1px; }

.navbar__nav--grad {
  background-image: linear-gradient(to bottom, #f3c4ee, lavenderblush);
  text-decoration: none;
  color: black;
  font-family: "Mulish", sans-serif; }

a {
  text-decoration: none;
  color: black !important; }

#imagenPrincipal {
  width: 450px;
  height: 400px; }

.carousel-inner .carousel-item img {
  min-height: 200px;
  object-fit: cover;
  height: 1%; }

.centrar {
  text-align: center; }

.letrasAstrologia {
  color: #7542f5; }

.letrasAstrologia2 {
  font-family: "Nunito", sans-serif !important; }

#tuCarta {
  width: 95px !important; }

#quienesSomos {
  width: 161px !important; }

.astropibasContenidoIndex {
  margin-top: 3rem;
  padding: 1.5rem; }

.astropibasContenidoIndex__subtitulo {
  color: #f542e3;
  margin-bottom: 10px; }

.astrobasicos {
  font-family: "Mulish", sans-serif !important; }
  .astrobasicos h4 {
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
    color: #f542e3; }
  .astrobasicos img {
    width: 2%; }
  .astrobasicos strong {
    color: #7542f5; }

.astrobasicosLuna {
  font-family: "Mulish", sans-serif !important; }
  .astrobasicosLuna strong {
    color: #7542f5; }

.subtitulosAstro {
  color: #f542e3;
  margin-bottom: 10px; }

.logosRedes {
  width: 70%;
  text-align: center;
  padding-bottom: 10px; }

.logoPlaneta {
  width: 25%; }

.logoSol {
  width: 22%; }

.textoTienda {
  color: #f542e3;
  margin-top: 10px; }

.imagenTienda {
  width: 350px;
  height: 350px;
  padding: 1%; }

.imagenSigno {
  display: block;
  margin: auto; }

.imagenPlaneta {
  height: 100%;
  width: 69%;
  display: block;
  margin: auto; }

.imagenCasas {
  height: 90%;
  width: 65%;
  display: block;
  margin: auto; }

.comoInterpretarlo {
  height: 90%;
  width: 65%;
  display: block;
  margin: auto; }

.imagenLuna {
  width: 100%;
  height: 100%; }

.mecanismosLunares {
  padding: 1.5em; }

.ajustarImagen {
  width: 40%; }

.centrarImagen {
  text-align: center;
  margin-top: 30px; }

.imgAstropibas {
  width: 5%;
  height: 5%; }

.bordes {
  border: solid pink 4px; }

.bordesQS {
  border: solid pink 2px;
  padding: 15px 15px;
  text-align: center;
  width: 90%; }

.col {
  display: flex;
  flex-direction: column;
  height: max-content; }

.rowTienda {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.footer-clean {
  padding: 50px;
  background-color: #fff;
  background-image: linear-gradient(to bottom, lavenderblush, #f3c4ee);
  bottom: 0px;
  width: 100%; }

.footer-curso {
  position: fixed; }

.footer-clean h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px; }

.footer-clean ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0; }

.footer-clean ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8; }

.footer-clean ul a:hover {
  opacity: 1; }

.footer-clean .item.social {
  text-align: right; }

.footer-clean .item.social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75; }

.footer-clean .item.social > a:hover {
  opacity: 0.9; }

.footer-clean .copyright {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 12px;
  opacity: 0.6; }

.wrap-contact2 {
  width: 790px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 72px 55px 90px 55px; }

.container-contact2 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px; }

#imagenEuge {
  width: 100%;
  height: 100%;
  border-radius: 60px; }

.btn-secondary {
  color: #fff;
  background-color: #E752BE;
  border-color: #E752BE; }

.btn-secondary:hover {
  color: #fff;
  background-color: #8c1d6c;
  border-color: #8c1d6c; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0% !important; }

#contactoCheck {
  margin: 6px 5px 0 0; }

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align: center; }
  .imagenSigno {
    height: 115%;
    width: 65%;
    display: block;
    margin: auto; }
  .imagenPlaneta {
    height: 110%;
    width: 70%;
    display: block;
    margin: auto; }
  .imagenCasas {
    height: 105%;
    width: 65%;
    display: block;
    margin: auto; }
  .comoInterpretarlo {
    height: 100%;
    width: 65%;
    display: block;
    margin: auto; }
  .ajustarImagen {
    width: 90%;
    height: 30%; }
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px; } }

@media (min-width: 768px) and (max-width: 1366px) {
  .footer-clean .item.social {
    text-align: center; }
  .nav {
    width: 105%; }
  .imagenSigno {
    height: 100%;
    width: 50%;
    display: block;
    margin: auto; }
  .imagenPlaneta {
    height: 100%;
    width: 50%;
    display: block;
    margin: auto; }
  .imagenCasas {
    height: 100%;
    width: 50%;
    display: block;
    margin: auto; }
  .comoInterpretarlo {
    height: 100%;
    width: 50%;
    display: block;
    margin: auto; }
  .ajustarImagen {
    width: 50%;
    height: 100%; } }

@media (max-width: 991px) {
  .footer-clean .item.social > a {
    margin-top: 40px; } }

@media (max-width: 767px) {
  .footer-clean .item.social > a {
    margin-top: 10px; } }

@media (max-width: 600px) {
  .footer-curso {
    position: inherit; }
  .logoPlaneta {
    width: 45%; }
  .logoSol {
    width: 40%; } }
